@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/GilroyLight.woff2") format("woff2"), url("../fonts/GilroyLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/GilroyExtraBold.woff2") format("woff2"), url("../fonts/GilroyExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  font-size: 62.5%;
}
body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "Gilroy", sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.05em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #141414;
}
a:active {
  opacity: 0.5;
}
.button {
  display: inline-block;
  padding: 18px 27px 20px 28px;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 2.4rem;
  color: #ffffff;
  letter-spacing: 0.05em;
  background-color: #f5112c;
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0 10px 18px 0 rgba(246, 27, 50, 0.55);
          box-shadow: 0 10px 18px 0 rgba(246, 27, 50, 0.55);
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #f63f54;
}
.button:active {
  background-color: #d50d25;
}
.heading--underline {
  position: relative;
}
.heading--underline::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -22px;
  left: 50%;
  width: 64px;
  height: 7px;
  margin-left: -32px;
  background-color: #f5112c;
}
.shading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.58);
}
@media (min-width: 760px) {
  body {
    font-size: 1.6em;
  }
  .button {
    font-size: 1.4rem;
  }
  .heading--underline {
    display: inline-block;
  }
  .heading--underline::after {
    left: 0;
    bottom: -23px;
    margin-left: 0;
  }
}
@media (min-width: 1170px) {
  body {
    font-size: 1.8em;
  }
  .button {
    padding: 22px 32px 24px 34px;
    font-size: 1.8rem;
  }
  .heading--underline::after {
    bottom: -40px;
  }
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90.625%;
  margin: 21px auto 0;
}
.page-header__logo {
  display: inline-block;
  margin-top: 5px;
}
.page-header__picture {
  display: block;
}
.page-header__image {
  display: block;
}
.page-header__contacts {
  margin: 0;
  color: #141414;
}
.page-header__address {
  display: none;
}
.page-header__tel {
  display: block;
  margin-bottom: 4px;
}
.page-header__tel:hover,
.page-header__tel:focus {
  color: #f5112c;
}
.page-header__call-request {
  display: block;
  padding-left: 4px;
  color: #f5112c;
  border-bottom: 2px solid #fa8895;
}
.page-header__call-request:hover,
.page-header__call-request:focus {
  border-bottom-color: #f5112c;
}
@media (min-width: 760px) {
  .page-header {
    width: 720px;
    margin-top: 35px;
  }
  .page-header__logo {
    margin-top: 0;
    margin-left: -10px;
  }
  .page-header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 562px;
    font-size: 1.6rem;
  }
  .page-header__address {
    display: block;
  }
  .page-header__tel {
    margin-left: 26px;
  }
  .page-header__call-request {
    margin-left: 26px;
  }
}
@media (min-width: 1170px) {
  .page-header {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 1140px;
    margin-top: 34px;
  }
  .page-header__logo {
    margin-left: 0;
  }
  .page-header__contacts {
    width: 652px;
    font-size: 1.8rem;
  }
  .page-header__call-request {
    margin-left: 45px;
  }
}
.course {
  position: relative;
  margin-bottom: 83px;
  padding-top: 318px;
  text-align: center;
}
.course::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  z-index: -1;
  width: 258px;
  height: 326px;
  margin-left: -131px;
  background-image: url("../img/bus-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 258px 326px;
}
.course__heading {
  margin: 0;
  margin-bottom: 35px;
  font-size: 2.4rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.course__heading b {
  position: relative;
  display: block;
  margin-bottom: 2px;
  font-size: 1.8rem;
  letter-spacing: 0.05em;
}
.course__text {
  margin: 0;
  margin-bottom: 12px;
  padding: 0 20px;
  line-height: 1.8rem;
  color: #141414;
}
@media (min-width: 760px) {
  .course {
    margin-bottom: 69px;
    padding-top: 110px;
    text-align: left;
  }
  .course::before {
    top: -44px;
    left: -1px;
    width: 100%;
    height: 488px;
    margin-left: 0;
    background-image: url("../img/bus-tablet.jpg");
    background-size: 1170px 488px;
  }
  .course__wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 720px;
    margin: 0 auto;
    padding-left: 313px;
  }
  .course__heading {
    font-size: 3rem;
    letter-spacing: 0.05em;
    margin-bottom: 50px;
  }
  .course__heading::after {
    bottom: -31px;
  }
  .course__heading b {
    margin-bottom: 10px;
    font-size: 2.4rem;
  }
  .course__text {
    margin-bottom: 78px;
    padding: 0;
  }
  .course__sign-up {
    margin-left: 4px;
  }
}
@media (min-width: 1170px) {
  .course {
    margin-bottom: 198px;
    padding-top: 230px;
  }
  .course::before {
    top: -70px;
    height: 794px;
    background-image: url("../img/bus-desktop.jpg");
    background-size: 1920px 794px;
  }
  .course__wrapper {
    width: 1140px;
    padding-left: 621px;
  }
  .course__heading {
    font-size: 4.5rem;
    letter-spacing: 0.05em;
    margin-bottom: 52px;
  }
  .course__heading::after {
    bottom: -27px;
  }
  .course__heading b {
    margin-bottom: 7px;
    font-size: 3.4rem;
  }
  .course__text {
    margin-bottom: 92px;
    line-height: 2.4rem;
  }
  .course__sign-up {
    margin-left: 0;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .course::before {
    background-image: url("../img/bus@2x-mobile.jpg");
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 760px), (min-resolution: 144dpi) and (min-width: 760px), (min-resolution: 1.5dppx) and (min-width: 760px) {
  .course::before {
    background-image: url("../img/bus@2x-tablet.jpg");
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1170px), (min-resolution: 144dpi) and (min-width: 1170px), (min-resolution: 1.5dppx) and (min-width: 1170px) {
  .course::before {
    background-image: url("../img/bus@2x-desktop.jpg");
  }
}
.situations {
  position: relative;
  margin-bottom: 154px;
  padding-top: 85px;
  text-align: center;
}
.situations::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1996px;
  background-image: url("../img/bg-situations-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 760px 1996px;
}
.situations__heading {
  display: inline-block;
  position: relative;
  margin: 0;
  margin-bottom: 56px;
  font-size: 2.4rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.situations__heading::before {
  content: "?";
  position: absolute;
  top: -64px;
  left: 136px;
  z-index: -1;
  font-size: 20rem;
  font-weight: 800;
  color: #e2e2e2;
}
.situations__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.situations__item {
  margin-bottom: 33px;
}
.situations__item:first-child .situations__text {
  width: 210px;
}
.situations__item:nth-child(2) .situations__text {
  width: 280px;
}
.situations__item:nth-child(3) {
  margin-bottom: 45px;
}
.situations__item:nth-child(3) .situations__text {
  width: 290px;
  margin-bottom: 20px;
}
.situations__item:last-child .situations__text {
  width: 230px;
}
.situations__text {
  margin: 0 auto 21px;
  line-height: 1.8rem;
  color: #1b1b1b;
}
.situations__text span {
  display: block;
  padding-left: 3px;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 5.2rem;
  letter-spacing: 0.05em;
  color: #000000;
}
.situations__text span b {
  color: #f5112c;
}
.situations__picture {
  display: inline-block;
}
.situations__image {
  vertical-align: top;
}
@media (min-width: 760px) {
  .situations {
    margin-bottom: 0;
    padding: 116px 0 103px;
    text-align: left;
  }
  .situations::before {
    height: 1940px;
    background-image: url("../img/bg-situations-tablet.png");
    background-size: 1170px 1940px;
  }
  .situations__heading {
    display: block;
    width: 720px;
    margin: 0 auto 66px;
    font-size: 3rem;
    letter-spacing: 0.05em;
  }
  .situations__heading::before {
    top: -61px;
    left: 184px;
  }
  .situations__list {
    width: 720px;
    margin: 0 auto;
  }
  .situations__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 62px;
  }
  .situations__item:first-child .situations__text {
    width: 235px;
    margin-top: -38px;
    margin-right: 78px;
  }
  .situations__item:first-child .situations__text::before {
    content: "";
    position: absolute;
    background-image: url("../img/wave.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    top: 138px;
    left: 221px;
    width: 145px;
    height: 19px;
  }
  .situations__item:first-child .situations__text span {
    top: -56px;
    left: 282px;
  }
  .situations__item:nth-child(2) .situations__text {
    width: 315px;
    margin-left: 30px;
  }
  .situations__item:nth-child(2) .situations__text span {
    top: -63px;
    left: -63px;
  }
  .situations__item:nth-child(3) {
    margin-bottom: 47px;
  }
  .situations__item:nth-child(3) .situations__image {
    width: 343px;
    height: 508px;
  }
  .situations__item:nth-child(3) .situations__text {
    width: 330px;
    margin-top: -34px;
    margin-right: 47px;
  }
  .situations__item:nth-child(3) .situations__text span {
    top: -55px;
    left: 342px;
  }
  .situations__item:last-child .situations__text {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 345px;
    margin-left: 28px;
    margin-bottom: 24px;
  }
  .situations__item:last-child .situations__text span {
    top: -65px;
    left: -76px;
  }
  .situations__item:nth-child(2n) {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .situations__item:nth-child(2n) .situations__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .situations__text {
    position: relative;
    margin: 0;
    margin-top: -30px;
    line-height: 2.4rem;
  }
  .situations__text span {
    position: absolute;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}
@media (min-width: 1170px) {
  .situations {
    padding: 174px 0 48px;
  }
  .situations::before {
    height: 2094px;
    background-image: url("../img/bg-situations-desktop.png");
    background-size: 1920px 2094px;
  }
  .situations__heading {
    width: 1140px;
    margin-bottom: 0;
    font-size: 4.5rem;
    letter-spacing: 0.05em;
  }
  .situations__heading::before {
    top: -106px;
    left: 263px;
    font-size: 30rem;
  }
  .situations__list {
    width: 1140px;
  }
  .situations__item {
    margin-bottom: 87px;
  }
  .situations__item:first-child .situations__text {
    width: 264px;
    margin-top: -38px;
    margin-right: 30px;
  }
  .situations__item:first-child .situations__text::before {
    top: 169px;
    left: 174px;
  }
  .situations__item:first-child .situations__text span {
    left: 260px;
  }
  .situations__item:nth-child(2) .situations__text {
    width: 375px;
    margin-top: -88px;
    margin-left: 41px;
  }
  .situations__item:nth-child(2) .situations__text span {
    left: -78px;
  }
  .situations__item:nth-child(3) {
    margin-top: -147px;
    margin-bottom: 0;
  }
  .situations__item:nth-child(3) .situations__text {
    width: 365px;
    margin-top: -28px;
    margin-right: 43px;
  }
  .situations__item:nth-child(3) .situations__text span {
    top: -54px;
    left: 373px;
  }
  .situations__item:last-child .situations__text {
    width: 300px;
    margin-left: 43px;
    margin-bottom: 78px;
  }
  .situations__item:last-child .situations__text span {
    left: -80px;
  }
  .situations__text {
    line-height: 2.8rem;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .situations::before {
    background-image: url("../img/bg-situations@2x-mobile.png");
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 760px), (min-resolution: 144dpi) and (min-width: 760px), (min-resolution: 1.5dppx) and (min-width: 760px) {
  .situations::before {
    background-image: url("../img/bg-situations@2x-tablet.png");
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1170px), (min-resolution: 144dpi) and (min-width: 1170px), (min-resolution: 1.5dppx) and (min-width: 1170px) {
  .situations::before {
    background-image: url("../img/bg-situations@2x-desktop.png");
  }
}
.features {
  margin-bottom: 75px;
  text-align: center;
}
.features__heading {
  margin: 0;
  margin-bottom: 73px;
  font-size: 2.4rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}
.features__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 185px;
  margin: 0 auto 47px;
  color: #141414;
}
.features__item:nth-child(2) {
  padding: 0 5px;
}
.features__item:last-child {
  padding: 0 20px;
}
.features__title {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 800;
}
.features__title::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #2429ff;
  border-radius: 50%;
  top: -26px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  background-color: #f5f5f5;
}
.features__text {
  margin: 0;
  line-height: 1.8rem;
  text-align: left;
}
@media (min-width: 760px) {
  .features {
    position: relative;
    margin-bottom: 85px;
    padding: 153px 0 81px;
    text-align: left;
    overflow: hidden;
  }
  .features__heading {
    display: block;
    width: 720px;
    margin: 0 auto 98px;
    font-size: 3rem;
    letter-spacing: 0.05em;
  }
  .features__heading::after {
    bottom: -33px;
  }
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    width: 720px;
  }
  .features__list::before {
    content: "";
    position: absolute;
    top: -312px;
    right: -224px;
    z-index: -2;
    width: 416px;
    height: 365px;
    background-image: url("../img/nature-tablet.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 416px 365px;
  }
  .features__list::after {
    content: "";
    position: absolute;
    background-image: url("../img/wave.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    right: -50px;
    bottom: -76px;
    width: 145px;
    height: 19px;
  }
  .features__item {
    width: 220px;
    margin: 0;
  }
  .features__item:last-child {
    padding-right: 50px;
    padding-left: 0;
  }
  .features__title {
    margin-bottom: 14px;
    font-size: 1.6rem;
  }
  .features__title::before {
    top: -28px;
    left: -1px;
    margin-left: 0;
  }
  .features__text {
    line-height: 2.4rem;
  }
}
@media (min-width: 1170px) {
  .features {
    margin-bottom: 28px;
    padding: 254px 0 151px;
  }
  .features__heading {
    width: 1140px;
    margin-bottom: 140px;
    font-size: 4.5rem;
    letter-spacing: 0.05em;
  }
  .features__heading::after {
    bottom: -36px;
  }
  .features__list {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1140px;
    padding-right: 293px;
  }
  .features__list::before {
    top: -491px;
    right: -499px;
    width: 1018px;
    height: 608px;
    background-image: url("../img/nature-desktop.jpg");
    background-size: 1018px 608px;
  }
  .features__list::after {
    right: 216px;
    bottom: -148px;
  }
  .features__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 273px;
    padding-left: 25px;
  }
  .features__item:nth-child(2) {
    padding: 0;
    padding-left: 25px;
  }
  .features__item:last-child {
    padding-left: 35px;
    padding-right: 50px;
  }
  .features__title {
    margin-bottom: 10px;
  }
  .features__title::before {
    top: -28px;
    left: -25px;
  }
  .features__text {
    line-height: 2.8rem;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 760px), (min-resolution: 144dpi) and (min-width: 760px), (min-resolution: 1.5dppx) and (min-width: 760px) {
  .features__list::before {
    background-image: url("../img/nature@2x-tablet.jpg");
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1170px), (min-resolution: 144dpi) and (min-width: 1170px), (min-resolution: 1.5dppx) and (min-width: 1170px) {
  .features__list::before {
    background-image: url("../img/nature@2x-desktop.jpg");
  }
}
.teachers {
  overflow: hidden;
}
.teachers__heading {
  position: relative;
  margin: 0;
  margin-bottom: 28px;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}
.teachers__heading::after {
  content: "";
  position: absolute;
  top: 250px;
  left: 50%;
  z-index: -2;
  width: 760px;
  height: 2px;
  margin-left: -380px;
  background-color: #e9e9e9;
}
.teachers__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.teachers__item {
  width: 290px;
  margin: 0 auto 39px;
  color: #141414;
}
.teachers__item figure {
  margin: 0;
  margin-bottom: 8px;
}
.teachers__picture {
  display: inline-block;
  margin-bottom: 19px;
}
.teachers__image {
  vertical-align: top;
}
.teachers__name {
  font-weight: 800;
  font-style: normal;
  line-height: 2.4rem;
}
.teachers__text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  line-height: 1.8rem;
}
@media (min-width: 760px) {
  .teachers__heading {
    display: block;
    width: 720px;
    margin: 0 auto 50px;
    text-align: left;
  }
  .teachers__heading::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #2429ff;
    border-radius: 50%;
    top: 210px;
    left: -124px;
    width: 23px;
    height: 23px;
  }
  .teachers__heading::after {
    top: 220px;
    width: 1170px;
    margin-left: -585px;
  }
  .teachers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    width: 720px;
    margin: 0 auto;
  }
  .teachers__list::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-color: transparent;
    bottom: 317px;
    right: -23px;
    width: 66px;
    height: 34px;
    background-image: url("../img/wave.svg");
    background-repeat: repeat-y;
    background-size: 66px 11.3px;
  }
  .teachers__list::after {
    content: "";
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    top: 492px;
    right: -417px;
    z-index: -10;
    width: 434px;
    height: 434px;
    -webkit-box-shadow: inset 0 0 0 77px #f5f5f5;
            box-shadow: inset 0 0 0 77px #f5f5f5;
  }
  .teachers__item {
    width: 345px;
    margin: 0;
    margin-bottom: 40px;
  }
  .teachers__item:first-child .teachers__text br:last-child {
    display: none;
  }
  .teachers__picture {
    margin-bottom: 29px;
  }
  .teachers__item figure {
    margin-bottom: 6px;
  }
  .teachers__name {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
  .teachers__text {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}
@media (min-width: 760px) and (max-width: 1169px) {
  .teachers__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}
@media (min-width: 1170px) {
  .teachers {
    margin-bottom: 30px;
    padding-top: 63px;
  }
  .teachers__heading {
    width: 1140px;
    font-size: 4.5rem;
    letter-spacing: 0.05em;
  }
  .teachers__heading::before {
    top: 257px;
    left: -149px;
  }
  .teachers__heading::after {
    top: 267px;
    left: -390px;
    width: 1420px;
  }
  .teachers__list {
    width: 1140px;
  }
  .teachers__list::before {
    right: -236px;
    bottom: 367px;
  }
  .teachers__list::after {
    top: -147px;
    right: -235px;
  }
  .teachers__item {
    width: 360px;
    margin-right: 30px;
  }
  .teachers__item:nth-child(3n) {
    margin-right: 0;
  }
}
.price-include {
  position: relative;
  margin-bottom: 42px;
  padding-top: 398px;
  text-align: center;
}
.price-include::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -2px;
  z-index: -1;
  width: 290px;
  height: 388px;
  background-image: url("../img/bigben-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 290px 388px;
}
.price-include__heading {
  margin: 0;
  margin-bottom: 32px;
  font-size: 2.4rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.price-include__heading::after {
  bottom: -18px;
  margin-left: -35px;
}
.price-include__cost {
  display: block;
  margin-bottom: 11px;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 2.8rem;
  color: #f5112c;
}
.price-include__description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 290px;
  margin: 0 auto 31px;
  line-height: 1.8rem;
  color: #141414;
}
.price-include__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 290px;
  margin: 0 auto;
}
.price-include__item {
  margin-bottom: 23px;
  color: #141414;
}
.price-include__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 1.4rem;
  font-weight: 800;
}
.price-include__text {
  margin: 0;
  line-height: 1.8rem;
}
@media (min-width: 760px) {
  .price-include {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 720px;
    margin: 0 auto 160px;
    padding-top: 42px;
    padding-left: 125px;
    text-align: left;
  }
  .price-include::before {
    top: 10px;
    left: -226px;
    width: 316px;
    height: 877px;
    background-image: url("../img/bigben-tablet.jpg");
    background-size: 316px 877px;
  }
  .price-include__heading {
    font-size: 3rem;
    letter-spacing: 0.05em;
    margin-bottom: 55px;
  }
  .price-include__heading::before {
    content: "?";
    position: absolute;
    top: -96px;
    right: -51px;
    z-index: -1;
    font-size: 20rem;
    font-weight: 800;
    color: #f5f5f5;
  }
  .price-include__heading::after {
    bottom: -27px;
    margin-left: 1px;
  }
  .price-include__heading br {
    display: none;
  }
  .price-include__cost {
    margin-bottom: 32px;
    font-size: 3rem;
    letter-spacing: 0.05em;
  }
  .price-include__description {
    width: auto;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    line-height: 2.4rem;
  }
  .price-include__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
    margin: 0;
  }
  .price-include__item {
    width: 283px;
    margin-bottom: 20px;
  }
  .price-include__item:nth-child(-4n + 5) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .price-include__item:nth-child(-4n + 6) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .price-include__item:nth-child(-4n + 7) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 30px;
  }
  .price-include__item:nth-child(-4n + 8) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .price-include__title {
    margin-bottom: 14px;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .price-include__text {
    line-height: 2.4rem;
  }
}
@media (min-width: 1170px) {
  .price-include {
    width: 1140px;
    margin-bottom: 132px;
    padding-top: 140px;
    padding-left: 390px;
  }
  .price-include::before {
    top: 6px;
    left: -409px;
    width: 749px;
    height: 1078px;
    background-image: url("../img/bigben-desktop.jpg");
    background-size: 749px 1078px;
  }
  .price-include__heading {
    margin-bottom: 94px;
    font-size: 4.5rem;
    letter-spacing: 0.05em;
  }
  .price-include__heading::before {
    top: -127px;
    right: -74px;
    font-size: 30rem;
  }
  .price-include__heading::after {
    bottom: -40px;
  }
  .price-include__cost {
    margin-bottom: 24px;
    font-size: 4.5rem;
    letter-spacing: 0.05em;
  }
  .price-include__description {
    width: 653px;
    margin-bottom: 35px;
    line-height: 2.8rem;
  }
  .price-include__item {
    width: 360px;
    margin-bottom: 30px;
  }
  .price-include__title {
    margin-bottom: 10px;
    font-size: 1.8rem;
  }
  .price-include__text {
    line-height: 2.8rem;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .price-include::before {
    background-image: url("../img/bigben@2x-mobile.jpg");
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 760px), (min-resolution: 144dpi) and (min-width: 760px), (min-resolution: 1.5dppx) and (min-width: 760px) {
  .price-include::before {
    background-image: url("../img/bigben@2x-tablet.jpg");
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1170px), (min-resolution: 144dpi) and (min-width: 1170px), (min-resolution: 1.5dppx) and (min-width: 1170px) {
  .price-include::before {
    background-image: url("../img/bigben@2x-desktop.jpg");
  }
}
.stages {
  position: relative;
  margin-bottom: 167px;
  padding-top: 98px;
  text-align: center;
}
.stages::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 1428px;
  background-image: url("../img/bg-stages-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 760px 1428px;
}
.stages__heading {
  margin: 0;
  margin-bottom: 63px;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.stages__heading::after {
  bottom: -26px;
}
.stages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 290px;
  margin: 0 auto;
}
.stages__item {
  margin: 0;
  margin-bottom: 36px;
  color: #141414;
}
.stages__title {
  display: inline-block;
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: 800;
}
.stages__title::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -36px;
  width: 13px;
  height: 9px;
  background-image: url("../img/arrow.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.stages__text {
  margin: 0;
  margin-bottom: 23px;
  line-height: 1.8rem;
}
.stages__picture {
  display: inline-block;
}
.stages__image {
  vertical-align: top;
}
@media (min-width: 760px) {
  .stages {
    margin-bottom: 300px;
    padding-top: 35px;
    text-align: left;
  }
  .stages::before {
    height: 1596px;
    background-image: url("../img/bg-stages-tablet.png");
    background-size: 1170px 1596px;
  }
  .stages__heading {
    display: block;
    width: 720px;
    margin: 0 auto 138px;
  }
  .stages__list {
    width: 720px;
  }
  .stages__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 78px;
  }
  .stages__item:nth-child(2) {
    margin-bottom: 69px;
  }
  .stages__item:nth-child(2) .stages__wrapper {
    margin-top: 25px;
  }
  .stages__item:nth-child(3) {
    margin-bottom: 55px;
  }
  .stages__item:nth-child(3) .stages__wrapper {
    margin-top: -22px;
  }
  .stages__item:last-child::before {
    content: "";
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    top: -37px;
    left: 292px;
    width: 85px;
    height: 85px;
    -webkit-box-shadow: inset 0 0 0 15px #2429ff;
            box-shadow: inset 0 0 0 15px #2429ff;
  }
  .stages__item:last-child .stages__wrapper {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 15px;
  }
  .stages__item:nth-child(2n) .stages__picture {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .stages__item:nth-child(2n) .stages__wrapper {
    padding-right: 33px;
    padding-left: 40px;
  }
  .stages__wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 345px;
    padding-left: 33px;
  }
  .stages__title {
    margin-bottom: 15px;
    font-size: 1.6rem;
  }
  .stages__text {
    margin-bottom: 0;
    line-height: 2.4rem;
  }
}
@media (min-width: 1170px) {
  .stages {
    margin-bottom: 0;
    padding: 62px 0 434px;
    overflow: hidden;
  }
  .stages::before {
    top: 7px;
    height: 2286px;
    background-image: url("../img/bg-stages-desktop.png");
    background-size: 1920px 2286px;
  }
  .stages__heading {
    width: 1140px;
    margin-bottom: 86px;
    font-size: 4.5rem;
    letter-spacing: 0.05em;
  }
  .stages__heading::after {
    bottom: -44px;
  }
  .stages__list {
    position: relative;
    width: 1140px;
  }
  .stages__list::before {
    content: "";
    position: absolute;
    background-image: url("../img/wave.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    top: 37px;
    right: -36px;
    z-index: 1;
    width: 66px;
    height: 34px;
    background-repeat: repeat-y;
    background-size: 66px 11.3px;
  }
  .stages__item {
    margin-bottom: 72px;
  }
  .stages__item:nth-child(2) {
    margin-bottom: 88px;
  }
  .stages__item:nth-child(2) .stages__wrapper {
    margin-top: 50px;
    margin-right: 66px;
    padding-right: 0;
  }
  .stages__item:nth-child(3) {
    margin-bottom: 76px;
  }
  .stages__item:nth-child(3) .stages__wrapper {
    margin-top: 14px;
  }
  .stages__item:last-child::before {
    top: -40px;
    left: 511px;
  }
  .stages__item:last-child .stages__wrapper {
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 38px;
    margin-right: 65px;
    margin-bottom: 0;
    padding-right: 0;
  }
  .stages__wrapper {
    width: 488px;
    padding-left: 37px;
  }
  .stages__title {
    font-size: 1.8rem;
  }
  .stages__text {
    line-height: 2.8rem;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .stages::before {
    background-image: url("../img/bg-stages@2x-mobile.png");
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 760px), (min-resolution: 144dpi) and (min-width: 760px), (min-resolution: 1.5dppx) and (min-width: 760px) {
  .stages::before {
    background-image: url("../img/bg-stages@2x-tablet.png");
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1170px), (min-resolution: 144dpi) and (min-width: 1170px), (min-resolution: 1.5dppx) and (min-width: 1170px) {
  .stages::before {
    background-image: url("../img/bg-stages@2x-desktop.png");
  }
}
.reviews {
  width: 290px;
  margin: 0 auto 63px;
  padding-bottom: 31px;
  text-align: center;
}
.reviews__heading {
  margin: 0;
  margin-bottom: 72px;
  font-size: 2.4rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.reviews__list {
  position: relative;
}
.reviews__item {
  margin: 0;
  margin-bottom: 30px;
  color: #141414;
}
.reviews__item figure {
  margin: 0;
  margin-bottom: 12px;
}
.reviews__picture {
  display: inline-block;
  margin-bottom: 26px;
}
.reviews__image {
  vertical-align: top;
}
.reviews__author {
  font-weight: 800;
  font-style: normal;
}
.reviews__text {
  margin: 0;
  margin-bottom: 9px;
  line-height: 1.8rem;
}
.reviews__text br:last-child {
  display: none;
}
.reviews__link {
  display: none;
  line-height: 2.4rem;
  color: #f5112c;
  border-bottom: 2px solid #fa8895;
}
.reviews__link:hover,
.reviews__link:focus {
  border-bottom-color: #f5112c;
}
.reviews__radio {
  bottom: 0;
}
.reviews__toggle {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 17px;
  border: none;
  border-radius: 50%;
  background-color: #e9e9e9;
  outline: none;
  cursor: pointer;
}
.reviews__toggle:hover,
.reviews__toggle:focus {
  background-color: #f5112c;
  -webkit-box-shadow: 0 4px 10px 0 rgba(245, 17, 44, 0.58);
          box-shadow: 0 4px 10px 0 rgba(245, 17, 44, 0.58);
}
.reviews__toggle:active {
  opacity: 0.3;
}
.reviews__toggle:last-of-type {
  margin-right: 0;
}
.reviews__range {
  display: none;
}
@media (max-width: 759px) {
  .reviews__item {
    position: absolute;
    top: 0;
    right: 500%;
    opacity: 0;
  }
  .reviews__radio[id="slider-1"]:checked ~ .reviews__item:first-of-type,
  .reviews__radio[id="slider-2"]:checked ~ .reviews__item:nth-of-type(2),
  .reviews__radio[id="slider-3"]:checked ~ .reviews__item:nth-of-type(3) {
    position: relative;
    right: 0;
    opacity: 1;
    -webkit-transition: opacity 0.65s linear 0s, right 0.35s ease-in-out 0s;
    transition: opacity 0.65s linear 0s, right 0.35s ease-in-out 0s;
  }
  .reviews__radio[id="slider-1"]:checked ~ .reviews__item:first-of-type .reviews__link,
  .reviews__radio[id="slider-2"]:checked ~ .reviews__item:nth-of-type(2) .reviews__link,
  .reviews__radio[id="slider-3"]:checked ~ .reviews__item:nth-of-type(3) .reviews__link {
    display: inline;
  }
  .reviews__radio[id="slider-1"]:checked ~ .reviews__control .reviews__toggle[for="slider-1"],
  .reviews__radio[id="slider-2"]:checked ~ .reviews__control .reviews__toggle[for="slider-2"],
  .reviews__radio[id="slider-3"]:checked ~ .reviews__control .reviews__toggle[for="slider-3"] {
    background-color: #f5112c;
    -webkit-box-shadow: 0 4px 10px 0 rgba(245, 17, 44, 0.58);
            box-shadow: 0 4px 10px 0 rgba(245, 17, 44, 0.58);
  }
}
@media (min-width: 760px) {
  .reviews {
    width: 720px;
    margin-bottom: 108px;
    text-align: left;
  }
  .reviews__heading {
    margin-bottom: 91px;
    font-size: 3rem;
    letter-spacing: 0.05em;
  }
  .reviews__heading::after {
    bottom: -29px;
    margin-left: 4px;
  }
  .reviews__item {
    display: none;
    margin-bottom: 60px;
    padding-left: 188px;
  }
  .reviews__item--active {
    display: block;
  }
  .reviews__item--active .reviews__link {
    display: inline;
  }
  .reviews__item figure {
    margin-bottom: 30px;
  }
  .reviews__picture {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
  }
  .reviews__text {
    line-height: 2.4rem;
  }
  .reviews__text br:last-child {
    display: inline;
  }
  .reviews__toggle,
  .reviews__radio {
    display: none;
  }
  .reviews__range {
    display: block;
    width: 100%;
    -webkit-appearance: none;
  }
  .reviews__range:focus {
    outline: none;
  }
  .reviews__range::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    background: #e9e9e9;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  .reviews__range::-webkit-slider-thumb {
    width: 200px;
    height: 7px;
    margin-top: 0;
    border: none;
    border-radius: 3px;
    background: #f5112c;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 5px 15px 0 rgba(245, 17, 44, 0.6);
            box-shadow: 0 5px 15px 0 rgba(245, 17, 44, 0.6);
    cursor: pointer;
  }
  .reviews__range:focus::-webkit-slider-runnable-track {
    background: #e9e9e9;
  }
  .reviews__range::-moz-range-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    background: #e9e9e9;
    border-radius: 25px;
    border: none;
  }
  .reviews__range::-moz-range-thumb {
    box-shadow: 0 5px 15px 0 rgba(245, 17, 44, 0.6);
    border: none;
    height: 7px;
    width: 200px;
    border-radius: 3px;
    background: #f5112c;
    cursor: pointer;
  }
  .reviews__range::-ms-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  .reviews__range::-ms-fill-lower {
    background: #e9e9e9;
    border: none;
    border-radius: 50px;
  }
  .reviews__range::-ms-fill-upper {
    background: #e9e9e9;
    border: none;
    border-radius: 50px;
  }
  .reviews__range::-ms-thumb {
    box-shadow: 0 5px 15px 0 rgba(245, 17, 44, 0.6);
    border: none;
    width: 200px;
    border-radius: 3px;
    background: #f5112c;
    cursor: pointer;
    height: 7px;
  }
  .reviews__range:focus::-ms-fill-lower {
    background: #e9e9e9;
  }
  .reviews__range:focus::-ms-fill-upper {
    background: #e9e9e9;
  }
}
@media (min-width: 1170px) {
  .reviews {
    width: 1140px;
    margin: -185px auto 146px;
  }
  .reviews__heading {
    margin-bottom: 113px;
    font-size: 4.5rem;
    letter-spacing: 0.05em;
  }
  .reviews__heading::after {
    bottom: -36px;
  }
  .reviews__item {
    margin-bottom: 80px;
    padding-right: 145px;
    padding-left: 232px;
  }
  .reviews__item figure {
    margin-bottom: 26px;
  }
  .reviews__text {
    margin-bottom: 21px;
    line-height: 2.8rem;
  }
}
.trial-session {
  padding: 215px 0 184px;
  text-align: center;
  overflow: hidden;
}
.trial-session__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
}
.trial-session__wrapper::before {
  content: "";
  position: absolute;
  top: -213px;
  left: 0;
  z-index: -1;
  width: 429px;
  height: 261px;
  background-image: url("../img/plane-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 429px 261px;
}
.trial-session__wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #2429ff;
  border-radius: 50%;
  left: 41px;
  bottom: -60px;
  width: 23px;
  height: 23px;
}
.trial-session__heading {
  margin: 0;
  margin-bottom: 40px;
  font-size: 2.4rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.trial-session_text {
  width: 290px;
  margin: 0 auto 19px;
  font-weight: 300;
  line-height: 1.8rem;
  color: #141414;
}
@media (min-width: 760px) {
  .trial-session {
    padding: 167px 0 137px;
    text-align: left;
  }
  .trial-session__wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 720px;
    padding-left: 375px;
  }
  .trial-session__wrapper::before {
    top: -166px;
    left: -226px;
    width: 1118px;
    height: 509px;
    background-image: url("../img/plane-tablet.jpg");
    background-size: 1118px 509px;
  }
  .trial-session__wrapper::after {
    display: none;
  }
  .trial-session__heading {
    margin-bottom: 52px;
    font-size: 3rem;
    letter-spacing: 0.05em;
  }
  .trial-session__heading::after {
    bottom: -28px;
  }
  .trial-session_text {
    width: auto;
    margin: 0;
    margin-bottom: 32px;
    line-height: 2.4rem;
  }
}
@media (min-width: 1170px) {
  .trial-session {
    padding: 265px 0 185px;
  }
  .trial-session__wrapper {
    width: 1140px;
    padding-left: 622px;
  }
  .trial-session__wrapper::before {
    top: -265px;
    left: -391px;
    width: 1629px;
    height: 813px;
    background-image: url("../img/plane-desktop.jpg");
    background-size: 1629px 813px;
  }
  .trial-session__heading {
    margin-bottom: 52px;
    font-size: 4.5rem;
    letter-spacing: 0.05em;
  }
  .trial-session_text {
    margin-bottom: 94px;
    padding-right: 82px;
    line-height: 2.4rem;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .trial-session__wrapper::before {
    background-image: url("../img/plane@2x-mobile.jpg");
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 760px), (min-resolution: 144dpi) and (min-width: 760px), (min-resolution: 1.5dppx) and (min-width: 760px) {
  .trial-session__wrapper::before {
    background-image: url("../img/plane@2x-tablet.jpg");
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1170px), (min-resolution: 144dpi) and (min-width: 1170px), (min-resolution: 1.5dppx) and (min-width: 1170px) {
  .trial-session__wrapper::before {
    background-image: url("../img/plane@2x-desktop.jpg");
  }
}
.page-footer {
  width: 214px;
  margin: 0 auto 60px;
  text-align: center;
}
.page-footer__logo {
  display: inline-block;
  margin-bottom: 14px;
}
.page-footer__picture {
  display: inline-block;
}
.page-footer__image {
  vertical-align: top;
}
.page-footer__location {
  margin: 0;
  margin-bottom: 12px;
}
.page-footer__social {
  margin-bottom: 19px;
}
.page-footer__contacts {
  margin: 0;
}
@media (min-width: 760px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 720px;
    margin: 45px auto 38px;
    text-align: left;
  }
  .page-footer__logo {
    margin-top: 10px;
  }
  .page-footer__location {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0;
  }
  .page-footer__social {
    width: 192px;
    margin-left: 400px;
    margin-bottom: 0;
  }
  .page-footer__contacts {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (min-width: 1170px) {
  .page-footer {
    width: 1140px;
    margin-top: 80px;
    margin-bottom: 86px;
  }
  .page-footer__logo {
    margin-top: 0;
  }
  .page-footer__location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 765px;
  }
  .page-footer__social {
    margin-left: 780px;
  }
}
.location {
  line-height: 2.4rem;
  color: #141414;
}
.location__school {
  display: block;
}
.location__address {
  font-weight: 300;
}
@media (min-width: 1170px) {
  .location__school {
    display: inline-block;
  }
  .location__address {
    text-align: right;
  }
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0 10px;
}
.social__link {
  display: inline-block;
}
.social__link:hover .social__icon,
.social__link:focus .social__icon {
  color: #f5112c;
}
.social__link:active .social__icon {
  opacity: 0.3;
}
.social__icon {
  vertical-align: top;
  color: #cbcbcb;
}
@media (min-width: 760px) {
  .social__list {
    padding: 0;
  }
}
.contacts__tel {
  display: block;
  margin-bottom: 5px;
  line-height: 2.4rem;
}
.contacts__tel:hover,
.contacts__tel:focus {
  color: #f5112c;
}
.contacts__call-request {
  color: #f5112c;
  border-bottom: 2px solid #fa8895;
}
.contacts__call-request:hover,
.contacts__call-request:focus {
  border-bottom-color: #f5112c;
}
@media (min-width: 760px) {
  .contacts__tel {
    margin-bottom: 10px;
  }
}
@media (min-width: 1170px) {
  .contacts__tel {
    display: inline-block;
  }
  .contacts__call-request {
    margin-left: 25px;
    line-height: 2.4rem;
  }
}
.appointment {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #ffffff;
}
.appointment__heading {
  margin: 100px 0 20px;
  font-size: 2.4rem;
  font-weight: 800;
  text-transform: uppercase;
}
.appointment__text {
  width: 280px;
  margin: 0 auto 20px;
}
.appointment__tel {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 280px;
  height: 62px;
  margin: 0 auto 17px;
  padding: 0 40px;
  font-weight: 300;
  border: 1px solid #bababa;
  border-radius: 50px;
  outline: none;
}
.appointment__tel::-webkit-input-placeholder {
  font: inherit;
  color: rgba(20, 20, 20, 0.34);
}
.appointment__tel:-ms-input-placeholder {
  font: inherit;
  color: rgba(20, 20, 20, 0.34);
}
.appointment__tel::-ms-input-placeholder {
  font: inherit;
  color: rgba(20, 20, 20, 0.34);
}
.appointment__tel::placeholder {
  font: inherit;
  color: rgba(20, 20, 20, 0.34);
}
.appointment__tel:hover,
.appointment__tel:focus {
  border-color: #f5112c;
}
.appointment__close {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 16px;
  height: 18px;
  padding: 0;
  font-size: 3.2rem;
  line-height: 3.2rem;
  background-color: transparent;
  border: none;
  overflow: hidden;
  cursor: pointer;
}
.appointment__close::before {
  content: "x";
  position: absolute;
  top: -10px;
  left: 0;
}
.appointment__close:hover::before,
.appointment__close:focus::before {
  color: #f5112c;
}
.appointment__close:active::before {
  opacity: 0.5;
}
@media (min-width: 760px) {
  .appointment {
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 60px;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .appointment__heading {
    margin-top: 0;
    font-size: 3rem;
  }
  .appointment__text {
    width: auto;
  }
  .appointment__close {
    top: 40px;
    right: 40px;
  }
}
@media (min-width: 1170px) {
  .appointment {
    width: 835px;
    padding: 125px 165px 139px;
  }
  .appointment__heading {
    font-size: 3.4rem;
  }
  .appointment__tel {
    width: 370px;
    height: 70px;
    padding: 0 60px;
  }
  .appointment__close {
    top: 29px;
    right: 28px;
  }
}
